$primary: #333333;
$secondary : #F5F4F2;
$tertiary: #237FBD;
$bluehp : #00A3FF;

$breakpoints: (
  mobile-min: 320px,
  mobile-max: 767px,
  tablet-min: 768px,
  tablet-max: 991px,
  desktop-min: 992px,
);